.friends{
display: grid;
grid-template-columns: 100px 1fr;
grid-template-rows:50px 100px 50px;
gap: 1cm;
}
header{
    grid-column: 1/3;
    background: blue;
}
main{

    background:yellow;

}
footer{
    grid-column: 1/3;
    background:green;
}
aside{
    background-color: aqua;
}
.grid{
    display:grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 1cm;
}
.d1{
    background: red;
    text-align: center;
}